.blocksContainer {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
}

.blocksHeader {
  margin-left: 12px;
  font-size: 18px;
}

.blocks {
  border-radius: 12px;
  overflow: hidden;
  background-color: #212A33;
}

.modalTitle {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  font-size: 18px;
}

.modalHash {
  margin-left: 12px;
  font-size: 18px;
  margin-bottom: 10px;
}